# QUESTION NUMBER 1

In [1]:
a = 0
def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

In [2]:
b()
b()
b()
a

6

In [3]:
#explaination:
#The value of a is increased by a factor of 2 everytime when function c is called.Now whenever function b is called , function c is called .
#Hence value of a=3*2 which is 6.

# QUESTION NUMBER 2

In [7]:
def filelength(fileName):
    try:
        file = open(fileName)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File " + fileName + " not found.")

In [8]:
filelength("filelength.ipynb")
filelength("idterm.py")

759
File idterm.py not found.

# QUESTION NUMBER 3

In [9]:
class Marsupial:#defined class Marsupial
    l = []
    def __init__(self, A, B):
        self.A = A
        self.B = B
    
    def put_in_pouch(self, s):
        self.l.append(s)
        
    def pouch_contents(self):
        print(self.l)
        
class Kangaroo(Marsupial):#creating subcalss of Marsupial
    def jump(self, dA, dB):
        self.A += dA
        self.B += dB
        
    def __str__(self):#overloading __str__() for desired output
        return "I am a Kangaroo located at coordinates ({},{})".format(self.A, self.B)
    
    
    
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# QUESTION NUMBER 4

In [19]:
def collatz(x): 
    print(x)
    
    if x == 1:
        return
    
    elif (x % 2 == 0):
        collatz(x // 2)
        
    else:
        collatz(3*x + 1)
        

collatz(1)

1

In [20]:
collatz(10)

10
5
16
8
4
2
1

# QUESTION NUMBER 5

In [15]:
l = []
def Binary_helper(n):
    if (n == 0):
        return
    l.append(str(n % 2))
    Binary_helper(n//2)

def Binary(n):
    Binary_helper(n)
    s = ''.join(map(str, l[::-1]))
    print(s)

n = int(input("Enter a number : "))
Binary(n)

Enter a number : 9
1001

# QUESTION 8

In [21]:
# taking the name of the table as tablez

In [ ]:
Desire                                                                                              COMMANDS
(a)ALL the Temperature Data                                                              select Temperature FROM tablez
(b)ALL the Cities, but without repetition                                                select DISTINCT city FROM tablez
(c)All the Records for India                                                             select * FROM tablez WHERE Country = India
(d)All the Fall Records                                                                  select * FROM tablez WHERE Season = Fall
(e)The City, Country, and season for which the average rainfall is                       select city, country, season FROM tablez WHERE rainfall>200 and rainfall<400
Between 200 and 400 Millimeters. 

(f)The City and Country for which the avrage Fall Temperature is above 20 degrees,       select city, country FROM tablez WHERE Temperature > 20 ORDER BY Temperature ASC
in increasing Temperature Order

(g)Total Annual Rainfall for Cairo                                                      select SUM(Rainfall) FROM tablez WHERE City = Cairo
(h)Total Rainfall for each season                                                       select SUM(Rainfall) FROM tablez GROUP BY Season

# QUESTION NUMBER 9

In [18]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

upper_words = [i.upper() for i in words]
lower_words = [i.lower() for i in words]
len_words = [len(i) for i in words]
combo_words = [[i.upper(), i.lower(), len(i)] for i in words]
len_greater_than_4 = [i for i in words if len(i) >= 4]

print(upper_words,"\n\n", lower_words,"\n\n", len_words,"\n\n", combo_words,"\n\n", len_greater_than_4)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

 ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

 [3, 5, 5, 3, 5, 4, 3, 4, 3]

 [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

 ['quick', 'brown', 'jumps', 'over', 'lazy']